mixin input-password(pleceholderName, typeName, nameField, className, index)
    .input.input__password-js 
        input.input__field(placeholder= pleceholderName, type= typeName, name= nameField, class= className, id= index)
        label.input__label(for= index)= pleceholderName
        button.input__password-button.input__password-button-js 
            +svg(24,24,"icon-eye")