include ../input/input
include ../button/button
include ../avatar/avatar

.modal__overlay
    .modal__wrapper
        .modal
            .modal__inner
                button.modal__close
                    +svg(24,24,"icon-close")
                .modal__header
                    h4.modal__title Вы проиграли
                .modal__content 
                    .modal__versus.modal--light-color.modal--padding-56
                        .modal__versus-person
                            .avatar 
                                .avatar__image 
                                    .avatar__image-inner
                                        img(src="img/avatar/avatar.jpg", alt="Player Name")
                                .avatar__name Player Name
                                .avatar__points-bar 
                                    include ../points-bar/points-bar
                        .modal__versus-data
                            .modal__versus-result
                                .modal__versus-result-points -230
                                .modal__versus-result-data
                                    .modal__versus-result-title Ваш рейтинг
                                    .modal__versus-table 
                                        .modal__versus-table-row
                                            .modal__versus-table-item Дневной
                                            .modal__versus-table-item 0 (- 184)
                                        .modal__versus-table-row
                                            .modal__versus-table-item Общий
                                            .modal__versus-table-item 0 (- 184)
                                        .modal__versus-table-row
                                            .modal__versus-table-item ELO
                                            .modal__versus-table-item 0 (- 25)
                                    a(href="#").modal__versus-result-button 
                                        span.modal__versus-result-button-icon 
                                            +svg('20', '20', 'icon-download')           
                                        | Лог матча
                                    .modal__versus-result-password 
                                        | Пароль:
                                        button.modal__versus-copy-password 
                                            | POdhpl
                                            span.modal__versus-copy-password-icon
                                                +svg('24', '24', 'icon-copy')
                            .modal__versus-button 
                                +button('Играть еще', 'button--full-width')
                        .modal__versus-person
                            .avatar 
                                .avatar__image 
                                    .avatar__image-inner
                                        img(src="img/avatar/avatar.jpg", alt="Player Name")
                                .avatar__name Player Name
                                .avatar__points-bar 
                                    include ../points-bar/points-bar