.modal-reward__overlay
    .modal-reward__wrapper
        .modal-reward
            h4.modal-reward__title Ваш выбор!
            .modal-reward__image
                include ../../assets/img/cubes/cube-reward.svg
                .modal-reward__image-bg
                    include ../../assets/img/reward-bg/reward-bg.svg
            button.modal-reward__text Нажмите, чтобы продолжить

                    
                        