include ../input/input
include ../button/button
include ../avatar/avatar

.modal__overlay
    .modal__wrapper.modal__wrapper-js
        .modal
            .modal__inner
                button.modal__close
                    +svg(24,24,"icon-close")
                .modal__header
                    h4.modal__title Присоединиться к игре?
                .modal__content 
                    .modal__join.modal--light-color
                        .modal__join-person
                            .modal__join-person-user
                                .avatar 
                                    .avatar__image 
                                        .avatar__image-inner
                                            img(src="img/avatar/avatar.jpg", alt="Player Name")
                                    .avatar__name Player Name
                                    .avatar__points-bar 
                                        include ../points-bar/points-bar
                            .modal__join-table
                                .modal__join-table-row
                                    .modal__join-table-item Процент побед
                                    .modal__join-table-item.modal__join-table-item-data 27%
                                .modal__join-table-row
                                    .modal__join-table-item Количество побед
                                    .modal__join-table-item.modal__join-table-item-data 18
                                .modal__join-table-row
                                    .modal__join-table-item ELO
                                    .modal__join-table-item.modal__join-table-item-data 0 (- 25)
                                .modal__join-table-row
                                    .modal__join-table-item Сорванных игр
                                    .modal__join-table-item.modal__join-table-item-data 2
                        .modal__join-data
                            .modal__join-data-header 
                                span.modal__join-data-player Player Name 
                                | приглашает Вас присоединиться к игре
                            .modal__join-data-play Короткие нарды / Кавказские
                            .modal__join-table
                                .modal__join-table-row
                                    .modal__join-table-item Процент побед
                                    .modal__join-table-item.modal__join-table-item-data 27%
                                .modal__join-table-row
                                    .modal__join-table-item Количество побед
                                    .modal__join-table-item.modal__join-table-item-data 18
                                .modal__join-table-row
                                    .modal__join-table-item ELO
                                    .modal__join-table-item.modal__join-table-item-data 0 (- 25)
                                .modal__join-table-row
                                    .modal__join-table-item Сорванных игр
                                    .modal__join-table-item.modal__join-table-item-data 2
                            .modal__join-more 
                                a(href="#") Подробные правила
                            .modal__join-button-block 
                                +button('Отклонить', 'button--full-width button--medium button--red')
                                +button('Играть', 'button--full-width button--medium')