include mixins/svg
include button/button
include product-item/product-item

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/style.css")
        title Backgammon
        meta(name="description", content="Description")
        meta(name="keywords", content="Description")
        link(rel="icon" href="favicon.svg")
    body
        #app
            .layout
                .layout__header 
                    include header/header
                .layout__content
                    .layout__main-nav 
                        ul.layout__main-nav-list 
                            li.layout__main-nav-item 
                                a(href="#").product-item 
                                    span.product-item__icon 
                                        img(src="img/product-item/cubes.png", alt="")
                                    span.product-item__title Инвентарь
                            li.layout__main-nav-item 
                                a(href="#").product-item 
                                    span.product-item__icon 
                                        img(src="img/product-item/tournament.png", alt="")
                                    span.product-item__title Турниры
                            li.layout__main-nav-item 
                                a(href="#").product-item 
                                    span.product-item__icon 
                                        img(src="img/product-item/rating.png", alt="")
                                    span.product-item__title Рейтинги
                            li.layout__main-nav-item 
                                a(href="#").product-item 
                                    span.product-item__icon 
                                        img(src="img/product-item/player.png", alt="")
                                    span.product-item__title Игроки
                            li.layout__main-nav-item 
                                a(href="#").product-item 
                                    span.product-item__icon 
                                        img(src="img/product-item/table.png", alt="")
                                    span.product-item__title Столы
                        .layout__main-nav-button 
                            +button("Играть", "button--full-width")
            include modal/modal-result
    