include mixins/svg
include button/button
include product-item/product-item
include button/button-icon 
include field/field
include card/card-cube

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/style.css")
        title Backgammon
        meta(name="description", content="Description")
        meta(name="keywords", content="Description")
        link(rel="icon" href="favicon.svg")
    body
        #app
            .layout
                .layout__header 
                    include header/header
                .layout__content
                    .layout__page 
                        h1.layout__page-title Рейтинги
                        .layout__page-nav
                            include nav-bar/nav-bar-rating
                        .layout__page-data 
                            .product-list
                                .product-list__content
                                    .product-list__rating
                                        h2.product-list__rating-title Дневной рейтинг
                                        .product-list__rating-result
                                            .product-list__rating-result-item 
                                                .product-list__rating-result-number 1
                                                .product-list__rating-result-person
                                                    include avatar-user/avatar-user
                                                .product-list__rating-result-points 12 323
                                            .product-list__rating-result-item 
                                                .product-list__rating-result-number 1
                                                .product-list__rating-result-person
                                                    include avatar-user/avatar-user
                                                .product-list__rating-result-points 12 323
                                            .product-list__rating-result-item 
                                                .product-list__rating-result-number 1
                                                .product-list__rating-result-person
                                                    include avatar-user/avatar-user
                                                .product-list__rating-result-points 12 323
                                            .product-list__rating-result-item 
                                                .product-list__rating-result-number 1
                                                .product-list__rating-result-person
                                                    include avatar-user/avatar-user
                                                .product-list__rating-result-points 12 323
                                            .product-list__rating-result-item 
                                                .product-list__rating-result-number 1
                                                .product-list__rating-result-person
                                                    include avatar-user/avatar-user
                                                .product-list__rating-result-points 12 323
                                            .product-list__rating-result-item 
                                                .product-list__rating-result-number 1
                                                .product-list__rating-result-person
                                                    include avatar-user/avatar-user
                                                .product-list__rating-result-points 12 323
                                            .product-list__rating-result-item 
                                                .product-list__rating-result-number 1
                                                .product-list__rating-result-person
                                                    include avatar-user/avatar-user
                                                .product-list__rating-result-points 12 323
                                            .product-list__rating-result-item 
                                                .product-list__rating-result-number 1
                                                .product-list__rating-result-person
                                                    include avatar-user/avatar-user
                                                .product-list__rating-result-points 12 323
                                            .product-list__rating-result-item 
                                                .product-list__rating-result-number 1
                                                .product-list__rating-result-person
                                                    include avatar-user/avatar-user
                                                .product-list__rating-result-points 12 323
                                            .product-list__rating-result-item 
                                                .product-list__rating-result-number 1
                                                .product-list__rating-result-person
                                                    include avatar-user/avatar-user
                                                .product-list__rating-result-points 12 323
                                            .product-list__rating-result-item 
                                                .product-list__rating-result-number 1
                                                .product-list__rating-result-person
                                                    include avatar-user/avatar-user
                                                .product-list__rating-result-points 12 323
                                       
