include mixins/svg
include button/button
include product-item/product-item
include button/button-icon

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/style.css")
        title Backgammon
        meta(name="description", content="Description")
        meta(name="keywords", content="Description")
        link(rel="icon" href="favicon.svg")
    body
        #app
            .layout
                .layout__header 
                    include header/header
                .layout__content
                    .layout__page 
                        h1.layout__page-title Столы
                        .layout__page-nav
                            include nav-bar/nav-bar
                        .layout__page-data 
                            .product-list
                                .product-list__content
                                    .product-list__table 
                                        .table
                                            .table__row
                                                .table__item.table__item--id 3529014
                                                .table__item.table__item--vs Player Name VS Player Name
                                                .table__item 
                                                    include chip-item/chip-item
                                                .table__item.table__item--count 0-99
                                                .table__item.table__item--clock 
                                                    include clock-item/clock-item
                                                .table__item.table__item--button
                                                    +button-icon('Смотреть', 'button--small', 'icon-watch')
                                            .table__row
                                                .table__item.table__item--id 3529014
                                                .table__item.table__item--vs Player Name VS Player Name
                                                .table__item 
                                                    include chip-item/chip-item
                                                .table__item.table__item--count 23-0
                                                .table__item.table__item--clock 
                                                    include clock-item/clock-item
                                                .table__item.table__item--button
                                                    +button-icon('Смотреть', 'button--small', 'icon-watch')
                                            .table__row
                                                .table__item.table__item--id 3529014
                                                .table__item.table__item--vs Player Name VS Player Name
                                                .table__item 
                                                    include chip-item/chip-item
                                                .table__item.table__item--count 0-0
                                                .table__item.table__item--clock 
                                                    include clock-item/clock-item
                                                .table__item.table__item--button
                                                    +button-icon('Смотреть', 'button--small', 'icon-watch')
                                            .table__row
                                                .table__item.table__item--id 3529014
                                                .table__item.table__item--vs Player Name VS Player Name
                                                .table__item 
                                                    include chip-item/chip-item
                                                .table__item.table__item--count 0-99
                                                .table__item.table__item--clock 
                                                    include clock-item/clock-item
                                                .table__item.table__item--button
                                                    +button-icon('Смотреть', 'button--small', 'icon-watch')
                                            .table__row
                                                .table__item.table__item--id 3529014
                                                .table__item.table__item--vs Player Name VS Player Name
                                                .table__item 
                                                    include chip-item/chip-item
                                                .table__item.table__item--count 23-0
                                                .table__item.table__item--clock 
                                                    include clock-item/clock-item
                                                .table__item.table__item--button
                                                    +button-icon('Смотреть', 'button--small', 'icon-watch')
                                            .table__row
                                                .table__item.table__item--id 3529014
                                                .table__item.table__item--vs Player Name VS Player Name
                                                .table__item 
                                                    include chip-item/chip-item
                                                .table__item.table__item--count 0-0
                                                .table__item.table__item--clock 
                                                    include clock-item/clock-item
                                                .table__item.table__item--button
                                                    +button-icon('Смотреть', 'button--small', 'icon-watch')