nav.nav-bar
    ul.nav-bar__list 
        li.nav-bar__item 
            a.nav-bar__link.nav-bar__link--active(href="#") Дневной
        li.nav-bar__item 
            a.nav-bar__link(href="#") Общий 
        li.nav-bar__item 
            a.nav-bar__link(href="#") Турнирный  
        li.nav-bar__item 
            a.nav-bar__link(href="#") ELO 

