nav.nav-bar
    ul.nav-bar__list 
        li.nav-bar__item 
            a.nav-bar__link.nav-bar__link--active(href="#") Текущие
        li.nav-bar__item 
            a.nav-bar__link(href="#") Завершеные

