nav.nav-bar
    ul.nav-bar__list 
        li.nav-bar__item 
            a.nav-bar__link.nav-bar__link--active(href="#") Информация
        li.nav-bar__item 
            a.nav-bar__link(href="#") Таблица
        li.nav-bar__item 
            a.nav-bar__link(href="#") История

